* {
	margin: auto;
	border: 0;
	padding: 0;
	font-family: sans-serif;
};


main {
	gap: 10px;
	padding: auto;
}

.enunciado {
	font-size: large;
	padding: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	
}

.marcar-q {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.marcar-q div {
	padding: 10px;
	max-width: 50%;
	gap: 10px;
}

label {
	font-size: 1.5rem;
}


.youtube {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	padding-bottom: 15px;
}

.alunos p {
    display: flex;
    flex-direction: row;
	font-size: 1.75rem;
}

.alunos h1 {
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 2.2rem;

}

.alunos {
	padding-bottom: 40px;
	text-align: center;
}

.dv-line, section {
	border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}

.bg-blue {
	background-image: url(assets/img/Confetti-Doodles.svg);
	background-color: rgba(85, 145, 204, 0.404);
    background-size: cover;
    background-position: center center;
    color: #fff;
}

main, header {
	max-width: 600px;
}
